@page "/writings/articles"
@inject WritingService WritingService
@using NaveenBlogUI.Models
@using MudBlazor

<MudContainer>
    <MudPaper Class="pa-4 mb-2">
        <h3>Articles</h3>
        @if (articles == null || !articles.Any())
        {
            <p><em>No articles available.</em></p>
        }
        else
        {
            @foreach (var post in articles)
            {
                <MudPaper Class="pa-4 mb-2">
                    <h4>@post.Title</h4>
                    <p>@post.Content</p>
                    <small>@post.DateCreated.ToShortDateString()</small>
                </MudPaper>
            }
        }
    </MudPaper>
</MudContainer>

@code {
    private List<Post> articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await WritingService.GetArticlesAsync();
    }
}
