@page "/writings/poems"
@inject WritingService WritingService
@using NaveenBlogUI.Models
@using MudBlazor

<MudContainer>
    <MudPaper Class="pa-4 mb-2">
        <h3>Poems</h3>
        @if (poems == null || !poems.Any())
        {
            <p><em>No poems available.</em></p>
        }
        else
        {
            @foreach (var post in poems)
            {
                <MudPaper Class="pa-4 mb-2">
                    <h4>@post.Title</h4>
                    <p>@post.Content</p>
                    <small>@post.DateCreated.ToShortDateString()</small>
                </MudPaper>
            }
        }
    </MudPaper>
</MudContainer>

@code {
    private List<Post> poems;

    protected override async Task OnInitializedAsync()
    {
        poems = await WritingService.GetPoemsAsync();
    }
}
