@page "/writings/quotes"
@inject WritingService WritingService
@using NaveenBlogUI.Models
@using MudBlazor

<MudContainer>
    <MudPaper Class="pa-4 mb-2">
        <h3>Quotes</h3>
        @if (quotes == null || !quotes.Any())
        {
            <p><em>No quotes available.</em></p>
        }
        else
        {
            @foreach (var post in quotes)
            {
                <MudPaper Class="pa-4 mb-2">
                    <h4>@post.Title</h4>
                    <p>@post.Content</p>
                    <small>@post.DateCreated.ToShortDateString()</small>
                </MudPaper>
            }
        }
    </MudPaper>
</MudContainer>

@code {
    private List<Post> quotes;

    protected override async Task OnInitializedAsync()
    {
        quotes = await WritingService.GetQuotesAsync();
    }
}
