@page "/writings/shortstories"
@inject WritingService WritingService
@using NaveenBlogUI.Models
@using MudBlazor

<MudContainer>
    <MudPaper Class="pa-4 mb-2">
        <h3>Short Stories</h3>
        @if (shortStories == null || !shortStories.Any())
        {
            <p><em>No short stories available.</em></p>
        }
        else
        {
            @foreach (var post in shortStories)
            {
                <MudPaper Class="pa-4 mb-2">
                    <h4>@post.Title</h4>
                    <p>@post.Content</p>
                    <small>@post.DateCreated.ToShortDateString()</small>
                </MudPaper>
            }
        }
    </MudPaper>
</MudContainer>

@code {
    private List<Post> shortStories;

    protected override async Task OnInitializedAsync()
    {
        shortStories = await WritingService.GetShortStoriesAsync();
    }
}
